@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html{
  scroll-behavior: smooth;
}

.home{
  height: 920px;
  background-image: url('\green_background.svg');
}

.Menu{
  top: 0px;
  background-color: black;
  min-height: 10vh;
}

.menu-button{
  background-color: white;
  color: #50ba22;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  border-radius: 5px;
  font-size: large;
  border: none;
}

#intro{
  display: flex;
  width: 80%;
  color: aliceblue;
  justify-content: center; /* align items vertically, in this case */
  align-items: center;
}

.greet{
  background-color: aliceblue;
  border-radius: 20px;
  border: 2px #CC5500;
  color: #50ba22;
  height: fit-content;
  padding: 1em;
}

.my_name{
  font-size: 5em;
}

.profile_pic{
  border-radius: 50%;
  max-width: 50vw;
}

.social_main{
  width: 50px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.contact{
  padding: 1em;
  border-radius: 10px;
  background-color: aliceblue;
  border: #CC5500;
  margin-left: 10%;
  margin-bottom: 10%;
}

.menu-button, .project_link, .social_main, summary, .resume { 
  transition: all .2s ease-in-out; 
}
  
.menu-button:hover , .project_link:hover, .social_main:hover, summary:hover, .resume:hover{ 
  transform: scale(1.1); 
}

.resume{
  font-size: x-large;
  border-radius: 10px;
  color: #50ba22;
  font-weight: bold;
}

.about_title{
  color:#CC5500;
  font-size: 4em;
}

.college{
  display: flex;
  width: fit-content;
  padding: 2em;
  border: 2px #CC5500;
  justify-content: center; /* align items vertically, in this case */
  align-items: center;
}

.college_info{
  margin-left: 2em;
  margin-right: 2em;
  font-size: x-large;
}

.mccombs, .computer{
  border-radius: 20px;
  width: 150px;
}

#skills{
  background-color: #CC5500;
}

.skills_title{
  color: white;
  font-size: 4em;
}

.skills_list{
  display: flex;
  width: fit-content;
  margin-left: -2em;
}

.skill_li {
  background-color: transparent;
  width: 15vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  list-style: none;
  margin-right: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.skill_circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.skill_li:hover .skill_circle {
  transform: rotateY(180deg);
} 

.front, .back {
  border: 2px solid black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */

.back {
  color: white;
  transform: rotateY(180deg);
}

.skill_img{
  max-height: 80%;
  max-width: 80%;

}

.inner_box{
  border-radius: 20px;
  background-color: white;
  width: fit-content;
  padding: 1em;
}

.project_row li{
  list-style: none;
}

.projects_title{
  font-size: 4em;
  color: rgb(102, 58, 0);
}

.project_card{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* USING VW IS SUPER HELPFUL WHEN U WANT TO MAKE THE BOXES RESIZE WITH THE SIZE OF THE WINDOW */
  width: 40vw;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  min-height: 200px;
  background-color: white;
}

.project_title{
  width: 40vw;
  margin-left: 1em;
  margin-right: 1em;
}

.title_outline{
  width: 40vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.title_outline h2{
  margin: 0;
}

.project_row{
  display: flex;
  width: fit-content;
}

ul{
  margin: 0;
}

.project_link{
  margin: 0.5em;
  background-color: brown;
  color: white;
  font-size: large;
  border-radius: 10px;
}

.project_img{
  max-width: 80%;
  max-height: 40vh;
  aspect-ratio: 16/9;
  border-radius: 20px;
}

a{
  text-decoration: none;
}

#experience{
  background-color: rgb(102, 58, 0);
}

.experience_title{
  color: white;
  font-size: 4em;
}

.project_description{
  margin: 1em;
}

.up{
  width: 10%;
}

h3{
  margin: 0;
}

.experience_img{
  max-width: 60%;
  max-height: 30vh;
  aspect-ratio: 16/9;
  border-radius: 20px;
}

summary{
  border: 2px solid black;
  width: fit-content;
  padding: 0.5em;
  border-radius: 10px;
}

.info{
  margin-left: 1em;
  margin-right: 1em;
}

#footer{
  background-color: bisque;
  display: flex;
  height: 20vh;
  align-items: center;
}

.top{
  margin-left: auto;
  margin-right: 10vw;
}

#bottom_social{
  margin-left: 20px;
}

.bott{
  max-width: 7vw;
}

@media (orientation: portrait){
  #intro{
    display: block;
  }
  .college{
    display: block;
  }
  .project_row{
    display: block;
  }
  .title_outline, .project_card{
    width: 70vw;
  }
  .my_name{
    margin-top: 0;
    margin-bottom: 0;
  }
  .contact{
    margin-top: 10px;
    margin-left: 0;
  }
  .greet h1{
    margin-bottom: 0;
  }
}
